<%- include("head.ejs") %>
<h3> Sobre </h3>

<p> Este app foi construído para fins de aprendizagem, implementando uma
simples aplicação CRUD usando uma arquitetura REST, usando como exemplo simples
registros de uma biblioteca com duas tabelas (livros e publicações).</p>

<p> Foram usadas as seguintes tecnologias: </p>

<ul>
    <li> HTML </li>
    <li> CSS  </li>
    <ul>
        <li> Bootstrap </li>
    </ul>
    <li> JavaScript </li>
    <ul>
        <li> Node.js -> Runtime do backend </li>
        <li> Express.js -> Webframework </li>
        <li> EJS -> Engine para templating </li>
        <li> Knex.js -> Administração e migrações na base de dados </li>
    </ul>
    <li> SQL </li>
    <ul>
        <li> SQLite3 -> Para desenvolvimento </li>
        <li> Postgres -> Para deploy no Heroku </li>
    </ul>
</ul>

<p> O código pode ser encontrado no <a
    href="https://github.com/jpssrocha/simple-crud-app" > repositório do github
</a></p>

<%- include("foot.ejs") %>
