<%- include("head.ejs") %>
<h3> Sobre </h3>

<p> Este app foi construído para fins de aprendizagem, implementando uma simples
aplicação CRUD de biblioteca usando uma arquitetura REST, usando como exemplo
uma simples biblioteca com duas tabelas.</p>

<p> Foram usadas as seguintes tecnologias: </p>

<ul>
    <li> HTML </li>
    <li> CSS (c/ Bootstrap) </li>
    <li> JavaScript </li>
    <ul>
        <li> Node.js </li>
        <li> Express.js </li>
        <li> EJS </li>
    </ul>
    <li> SQL (c/ Sqlite3) </li>
</ul>

<%- include("foot.ejs") %>
