<!DOCTYPE html>
<html lang="pt-br">

    <head>

        <title> CRUD App - Livraria </title>
        <meta charset="UTF-8"> <!-- Tag de metadados setando o encoding -->

        <!--
            Usando stylesheet direto do bootstrap. Ela pode ser usada via download localmente
            ou com um link diretamente para o site.
        -->

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <!--
            Meta dados para adicionar alguma resposividade ao app. (Default do
            snippet)
        -->

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


        <nav class="navbar navbar-expand-lg navbar-blue bg-dark">
            <a class="navbar-brand" href="/">Home</a>
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/about">Sobre</a>
              </li>
            </ul>
        </nav>

        <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3" style="text-align:center;font-size:45px">
                App CRUD usando Node, Express, EJS e Postgres.
            </h1>

            <br>

        <hr>

    </head>
