<!DOCTYPE html>
<html lang="pt-br">

    <head>

        <title> Curso de WEBDEV </title>
        <meta charset="UTF-8"> <!-- Tag de metadados -->

        <!-- 
            Usando stylesheet direto do bootstrap. Ela pode ser usada via download localmente
            ou com um link diretamente para o site.
        -->

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Node-Sqlite</title>

        <!-- nav menu (exemplo para adaptacao ao sistema)-->
        <div class="container">
        <nav class="navbar navbar-expand-lg navbar-blue bg-dark">  
            <a class="navbar-brand" href="/">CRUD app</a>
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/books">Sobre</a>
              </li>
            </ul>
          </nav>
          <!-- card padao -->
        <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3">CRUD Node - Sqlite</h1>
            <h3>2 tabelas relacionadas</h3>
            <div class="form-group">
      <!-- fim card padao -->

    </head>
